.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 476px;
}

.wave .shape-fill {
    fill: #222222;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .wave svg {
        width: calc(132% + 1.3px);
        height: 462px;
    }
}
